.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 870px;
  position: relative;
}

.user-sign-login-container {
  width: 500px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 20px 0 50px 0;
  box-shadow: 7px 7px 18px #c5c5c5, -7px -7px 18px #fbfbfb;
}

a {
  text-decoration: none;
}

.api-response-msg {
  /* height: 40px; */
}

.dashboard-sidebar {
  /* position: fixed;
  height: 100%; */
}
.dashboard-content-container {
  /* position: absolute;
  left: 9%; */
  width: 100%;
}

.table-edit {
  width: 1000px;
}

.table-edit,
.table-edit tr,
.table-edit th,
.table-edit td {
  padding: 12px;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
}

.create-form-data {
  margin-left: 110px !important;
}
